[submodule "src/modules/Eluna"]
	path = src/modules/Eluna
	url = https://github.com/ElunaLuaEngine/Eluna.git
[submodule "modules/TortoiseBots"]
	path = modules/TortoiseBots
	url = https://github.com/T-imothy/TortoiseBots.git

[submodule "modules/ManTechPlayerbots"]
	path = modules/ManTechPlayerbots
	url = https://github.com/T-imothy/playerbots.git
	branch = turtle-native-port
